- var index = 0
html
  title=module
body
  table(border=1)
    -for line in sources
      - index = index + 1
      tr
        -if(missing.indexOf(index) != -1)        
          td(bgcolor="red", valign="top")
            pre=index
          td(bgcolor="red", valign="top")
            pre=line
        -else
          td(valign="top")
            pre=index
          td(valign="top")
            pre=line
        td
          -for data in coverage_data
            - if(data.data.stats.lines.map(function(r) { return r.lineno; }).indexOf(index) == -1)
              = data.test_file + "[" + data.test_method + "]"
              br
